body {
  height: 100vh;
}
.nav-item {
  position: relative;
}

.counter {
  position: absolute;
  top: -6px;
  left: 60px;
  color: #f1f0f1;
  background-color: #0f38c0;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

.col p {
  margin: 0 2px;
}

.value {
  opacity: 0.85;
}

div select.mechanism {
  padding: 6px;
}

table tr.finished td {
  opacity: 0.7;
  background-color: #ffff004d;
}

.backdrop {
  z-index: 50;
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hide {
  display: none;
}

.done,
.pending,
.in-progress {
  width: 35px;
}
.navbar-brand img {
  width: 120px;
  height: 70px;
}

nav .nav-link {
  font-size: 20px;
}

@media only screen and (max-width: 450px) {
  nav .nav-link {
    font-size: 16px;
  }

  .navbar-brand img {
    width: 80px;
    height: 70px;
  }

  table {
    font-size: 14px;
  }

  table button.btn {
    font-size: 12px;
    padding: 5px 10px;
  }
}
