.nav-item {
  position: relative;
}

.counter {
  position: absolute;
  top: -6px;
  left: 60px;
  color: #f1f0f1;
  background-color: #0f38c0;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

.col p {
  margin: 0 2px;
}

.value {
  opacity: 0.85;
}

table tr.finished td {
  opacity: 0.7;
  background-color: #ffff004d;
}

.backdrop {
  z-index: 50;
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.hide {
  display: none;
}

.done {
  width: 35px;
}
